node_modules/
dist/
.turbo/
.pnpm-home/
apps/web/build/
.DS_Store
.env
.env.*
!.env.example
!*/.env.example
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.svelte-kit/
.vercel/
output/
coverage/

# build artifacts
apps/api/tmp/
apps/api/api
.cache/
